<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>tum.health.cardioflow.segment</string>
		<string>tum.health.cardioflow.embedd</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Cardioflow</string>
	<key>CFBundleExecutable</key>
	<string>cardioflow</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>device connection.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app requires access to the local network to participate in federated learning.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
</dict>
</plist>
